@use "../abstract/colors" as colors;

.admin_bg_btn{
  background-color: colors.$pressed-color !important;
  color: white;
  font-weight: bold;
}

.admin_bg_btn:hover {
  background-color: colors.$bg-2nd-color!important;
  color: colors.$pressed-color !important;
  border-color: colors.$bg-2nd-color;
  font-weight: bolder;
}
