
@use "../abstract/colors" as colors;
.accordion-button:not(.collapsed) {
    background-color: colors.$pressed-color !important; /* Custom background color */
    color: white !important; /* Custom text color */
    font-weight: bold !important; /* Custom font weight */
  }