@use '../abstract/colors' as colors;
@use '../abstract/mixins' as mixins;


.item-information{
    // border: 1px solid colors.$text-color;    
    display: flex;
    margin: 24px;
    padding: auto;

        .item-title {
          font-size: 2.5rem;
          font-weight: bold;
        }

        img {
          width: 300px !important; // Ensure equal width and height for circular shape
          height: 300px!important; // Ensure equal width and height for circular shape
          border-radius: 50%; // Makes the image circular
          object-fit: cover; // Ensures the image does not distort
          background-color: #e0e0e0; // Background color as fallback
        }
      
        .category-tab {
          color: colors.$text-color;
          padding: 0 15px;
          font-size: 0.9rem;
          text-transform: uppercase;
      
          &:hover {
            color: colors.$element-color;
          }
        }
      
        .price-section {
          display: flex;
          align-items: center;
      
          .price {
            font-size: 1.5rem;
            font-weight: bold;
            color: colors.$text-color !important;
            margin-right: 15px;
          }
      
          .multi-pack-price {
            font-size: 1.2rem;
            color: colors.$text-color;
          }
        }
      
        .description {
          font-size: 1rem;
          color: colors.$text-color;
          margin-top: 15px;
        }
      
        .ingredients-title {
          font-size: 1.2rem;
          font-weight: bold;
          margin-top: 20px;
          color: colors.$headline-color;
        }
      
        .ingredients-list {
          margin-top: 10px;
          font-size: 0.9rem;
          color: colors.$text-color;
      
          .col {
            padding-bottom: 5px;
          }
        }
      
        .action-buttons {
          .order-btn {
            background-color: colors.$element-color;
            border: none;
            width: 100%;
            font-size: 1rem;
            padding: 10px 0;
          }
      
          .cart-btn {
            border-color: colors.$element-color;
            color: colors.$element-color;
            width: 100%;
            font-size: 1rem;
            padding: 10px 0;
      
            &:hover {
              background-color: colors.$element-color;
              color: white;
            }
          }
      
          .wishlist-btn {
            width: 100%;
            font-size: 1.5rem;
            color: #ef4565;
            border: none;
            background: none;
          }
        }
      
      
}
