@use '../abstract/colors' as colors;
@use '../abstract/mixins' as mixins;

.main_navbar{
    padding: 16px;
    background-color: colors.$bg-color;
    color-scheme: colors.$text-color; // add color for text
}

.search_bar{
    background-color: colors.$bg-color;
    color-scheme: colors.$text-color; // add color for text
    border: 1px solid colors.$element-color;
    border-color: colors.$element-color;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 30px;
}

.searchContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

.result_item {
    background-color:  colors.$bg-color;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .result_item:hover {
    background-color:colors.$bg-color;
  }