@use '../abstract/colors' as colors;
@use '../abstract/mixins' as mixins;

.main_navbar{
    padding: 16px;
    background-color: $bg-color;
    color-scheme: $text-color; // add color for text
}

.search_bar{
    background-color: $bg-color;
    color-scheme: $text-color; // add color for text
    color: colors.$headline-color;
    border-radius: 2px;
}