.admin-main {
  height: calc(100vh - 90px);
  padding-top: 10px;

  .side-bar {
    a {
      color: #174c71;
      position: relative;

      &:hover {
        background-color: #ebf5fe;
      }

      &.active {
        background-color: #174c71;
      }

      svg[data-testid='ChevronRightIcon'] {
        position: absolute;
        right: 20px;
      }
    }

    svg {
      width: 20px;
      margin-bottom: 5px;
      margin-right: 5px;
    }

    .btn-logout {
      button {
        position: absolute;
        bottom: 20px;
        background-color: #174c71;
        border: none;
        font-weight: bold;
      }
    }
  }

  .admin-content {
    background-color: #ebf5fe;
    border-radius: 10px;
    padding: 10px;
  }
}