@use "../abstract/colors" as colors;
@use "../abstract/mixins" as mixins;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.special-container {
  font-family: 'DM Sans', sans-serif;
  background-color: #fffffe;
  width: 100%;
  margin: 0 auto;
  padding: 10px;

  .title {
    color: #094067;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
  }

  main {
    padding: 10px;
  }
}

.advertisement-section {
  margin-bottom: 20px;
  overflow: hidden;
}

.items-wrapper {
  position: relative;
}

.items-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0;
  scroll-behavior: smooth;
}

.items-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.home-item {
  flex: 0 0 auto;
  margin-right: 10px;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: colors.$headline-color;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.arrow-left {
  left: -20px; /* Adjust positioning as necessary */
}

.arrow-right {
  right: -20px; /* Adjust positioning as necessary */
}

.rotated-title {
  writing-mode: vertical-rl; /* Rotates the text vertically */
  transform: rotate(180deg); /* Flip the text to read from top to bottom */
  text-align: center;
  font-size: 1.2rem;
  background-color: transparent; /* No background color */
  color: #e76f51; /* Adjust text color */
  padding: 10px;
  margin-right: 10px; /* Reduce the margin for better spacing */
  border-left: 3px solid colors.$headline-color; /* Add a vertical line on the right */
  border-radius: 0; /* Remove any rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the title take up the full height of the parent */
  max-height: 250px; /* Set a maximum height */
  overflow: hidden; /* Hide any overflowed content */

  @media screen and (max-width: 768px) {
    width: 100%; /* Make the title take up the full width of the parent */
    height: auto; /* Reset the height */
    max-height: none; /* Reset the maximum height */
    margin-right: 0; /* Remove the right margin */
    border-radius: 0; /* Remove the border radius */  
  }
}
