/* Color pallete and functions*/

$bg-color: #fffffe;
$headline-color: #f38b3c;
$text-color: #5f6c7b;
$bg-2nd-color: #d8eefe;
$element-color: #3da9fc;
$element-2nd-color: #ecbf9c;
$highlight-tag-color: #ef4565;

// Button Colors

$button-color: $element-color;
$hover-color: #03588c;
$pressed-color: #025373;
$disabled-color: #d7d7d9;
