/* Color pallete and functions*/

$bg-color: #fffffe;
$headline-color: #094067;
$text-color: #5f6c7b;
$bg-2nd-color: #d8eefe;
$element-color: #3da9fc;
$element-2nd-color: #90B4CE;
$highlight-tag-color: #ef4565;