.main {
    padding-top: 10px;
    .sideBar {
        a {
            color: #174c71;
        }
        a:hover {
            background-color: #ebf5fe;
        }
    }
    .content {
        background-color: #ebf5fe;
        border-radius: 10px;
        padding: 10px;
    }
}