@use "../abstract/colors" as colors;

.text-color-head-line {
color: colors.$headline-color;
}

.bg-2nd-color{
    background-color: colors.$bg-2nd-color;
}

.bg-element-color{
    background-color: colors.$element-color;
}
.bg-headline-color{
    background-color: colors.$headline-color !important;
}
.text-headline-color{
    color: colors.$headline-color !important;
}