@use "@styles/colors.scss/" as *;

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 84px;
    font-weight: bold;
    color: $headline-color;
}

h2 {
    font-family: 110% 'DM Sans';
    font-size: 48px;
    font-weight: medium;
    color: headline-color;
}

h3 {
    font-family: 130% 'DM Sans';
    font-size: 36px;
    font-weight: medium;
    color: $headline-color;

}

h4 {
    font-family: 150% 'DM Sans';
    font-size: 24px;
    font-weight: medium;
    color: $headline-color;
}
.subtitle {
    font-family: 150% 'DM Sans';
    font-size: 16px;
    font-weight: medium;
    color: $text-color;
}

body {
    font-family: 150% 'DM Sans';
    font-size: 16px;
    font-weight: normal;
    color: $text-color;
}

.button-text{
    font-family: 150% 'DM Sans';
    font-size: 16px;
    font-weight: normal;
    color: $element-2nd-color;
}